<div class="p-2 mb-3  bg-info text-white">
    <header>
        <nav>
            <div class="text-center mb-5">
                <h1 class="text-muted bg-dark">TEAM APP</h1>

            </div>

            <ul class=" nav flex-column nav nav-pills container w-25 ">
                <h3>
                    <li class=" nav-item"><a class="nav-link active" aria-current="page" href="/team">Team
                            Member
                        </a>
                    </li>
                </h3>
                <h3>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/team/new">Add New Team</a>
                    </li>
                </h3>


        </nav>
    </header>
</div>