<h2>New Team</h2>
<form action="/team" method="POST">
    <div class="vh-100">
        <div class="form-row">
            <div class=" form-item">
                <labeL for="name">Name</labeL>
                <input type="text" name="name" class="input-group-text">
                <br>
                <labeL for="name">Address</labeL>
                <input type="text" name="address" class="form-control">
                <br>
                <labeL for="name">Email</labeL>
                <input type="text" name="email" class="form-control">
                <br>
                <a href=" /team" class="btn btn-primary btn-block">Cancel</a>
                <button type="submit" class="btn btn-success btn-block">Create</button>
            </div>
        </div>
    </div>

</form>